.DS_Store
*~
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.xcworkspace
*xcuserdata
build
.DS_Store
Classes/ShareKit/SHKConfig.h
DerivedData
Submodules/*

Submodules/facebook-ios-sdk

Submodules/google-api-objectivec

Submodules/google-api-objectivec
